<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MERN Auth Template</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <nav>
      <% if(user) { %>
        <a href="/users/logout">Logout</a>
        <% } else { %>
        <a href="/users/login">Login</a>
        <a href="/users/signup">Signup</a>
        <% } %>
    </nav>
    <p>Please Enter a Username and Password to Login</p>
    <% if(error) { %>
    <p style="color: red"><%= error %></p>
    <% } %>
    <form action="/users/login" method="POST" autocomplete="off">
      <label for=""
        >Username: <input type="text" name="username" required /> </label
      ><br />
      <label for=""
        >Password: <input type="password" name="password" required /> </label
      ><br />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
